@font-face {
    font-family: 'OpenSans-Regular';
    src: url(../fonts/OpenSans-Regular.ttf);
}

body {
    height: 100vh;
    /* background-color: lightgray; */
    font-family: 'OpenSans-Regular', Helvetica, Arial, sans-serif;
}

.wrapper {
    min-height: 100vh;
    display:Flex;
    flex-direction: column;
}

.header {
    display:flex;
    justify-content: center;
    background-color: black;
    position:fixed;
    top: 0;
    width: 100%;
    font-family: 'Noto Serif', 'Times New Roman', serif;
}

.header a {
    display: block;
    color: white;
    text-align: center;
    font-size: 17px;
    padding: 10px 15px;
    margin: 10px;
    transition: all 1.5s ease 0s;
}

.header a:hover {
    color: black;
    background-color: #ddd;
}

.link {
    text-decoration: none; 
}

.main {
    flex-grow: 1;
    padding-top: 60px;
    display: flex;
    margin: 0 auto;
    width: 1000px;
}

h1, h2 {
    text-align: center;
    font-family: 'Noto Serif', 'Times New Roman', serif;
}

.image {
    background-color:#bbc9c9;
    width: 410px;
    height: 410px;
    margin: 0 auto;
}

.image img {
    padding: 5px;
}

.section {
    width: 80%;
    margin: 10px auto;
    padding: 20px 15px 15px; 
    border: 1px solid black;
}

.aside {
    width: 400px;
    flex-grow: 0;
    text-align: center;
}

.address__item {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-icon {
    margin-right: 20px;
}

.main__section {
    flex-grow: 1;
    padding-left: 50px;
}

.footer {
    background-color: black;
    color: white;
    margin-top: 20px;
    text-align: center;
}